<h3>Informations du contact</h3>
<p><strong>Nom :</strong> {{ contact.name }}</p>
<p><strong>Email :</strong> {{ contact.email }}</p>
<p><strong>Sujet :</strong> {{ contact.subject }}</p>
<p><strong>Sujet :</strong> {{ contact.message }}</p>
<p><strong>Date :</strong> {{ "now"|date('d/m/Y H:i') }}</p>