{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <header>
        {{ include('/partials/nav.html.twig') }}
    </header>

    <main>

        <section class="sect1">
            <h1>Chaussures</h1>
            <div class="chaussure">
                {% for product in products %}
                    {% set is_chaussure = false %}
                    {% for category in product.categories %}
                        {% if category.name == 'chaussures' %}
                            {% set is_chaussure = true %}
                        {% endif %}
                    {% endfor %}

                    {% if is_chaussure %}
                        <figure
                                data-id="{{ product.id }}"
                                data-nom="{{ product.name }}"
                                data-image="{{ asset('uploads/products/' ~ product.pictures) }}"
                                data-description="{{ product.description }}"
                                data-prix="{{ product.price }}"
                        >
                            <a href="{{ path('app_descriptions', { id: product.id }) }}">
                                <img src="{{ asset('uploads/products/' ~ product.pictures) }}" alt="{{ product.name }}">
                            </a>
                            <figcaption>
                                <h3>{{ product.name }}</h3>
                                <p>{{ product.price }}€</p>
                            </figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}
            </div>
        </section>



        <section class="sect2">
            <h2>Costumes</h2>
            <div class="costume">
                {% for product in products %}
                    {% set is_costume = false %}
                    {% for category in product.categories %}
                        {% if category.name == 'costumes' %}
                            {% set is_costume = true %}
                        {% endif %}
                    {% endfor %}

                    {% if is_costume %}
                        <figure
                                data-id="{{ product.id }}"
                                data-nom="{{ product.name }}"
                                data-image="{{ asset('uploads/products/' ~ product.pictures) }}"
                                data-description="{{ product.description }}"
                                data-prix="{{ product.price }}"
                        >
                            <a href="{{ path('app_descriptions', { id: product.id }) }}">
                                <img src="{{ asset('uploads/products/' ~ product.pictures) }}" alt="{{ product.name }}">
                            </a>
                            <figcaption>
                                <h3>{{ product.name }}</h3>
                                <p>{{ product.price }}€</p>
                            </figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}
            </div>
        </section>


    </main>

{% endblock %}
