{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}
<header>
{{include('/partials/nav.html.twig')}}

</header>



<main>
  <section class="first">
    <ul>
      <li><a href="{{path('app_register')}}">inscription</a></li>
      <li><a href="{{path('app_login')}}">connexion</a></li>
    </ul>
    <img src="{{ asset('image/welcome to africa.png') }}" alt="image de bienvenue">


  </section>

  <div>
    <section class="second">
      <article>
        <a href="{{ path('app_products_index') }}">

          <img src="{{ asset('uploads/products/costume-1-684ec2734c8e1.jpg') }}" alt="costume Africain">
        </a>
      </article>
      <article>
    <a href="{{ path('app_products_index') }}">

          <img src="{{ asset('uploads/products/chaussure-3-685009dc8ab21.png') }}" alt="Chaussures">
        </a>
      </article>
      <article>
        <a href="{{ path('app_products_index') }}">

          <img src="{{ asset('uploads/products/costume-2-68500803dcd30.jpg') }}" alt="Costume Africain">
        </a>
      </article>
      <article>
        <a href="{{ path('app_products_index') }}">

          <img src="{{ asset('uploads/products/chaussure-5-684eca21de6dd.png') }}" alt="chaussure">
        </a>
      </article>
      <article>
       <a href="{{ path('app_products_index') }}">

          <img src="{{ asset('uploads/products/costume-6-684e14fdb4b90.webp') }}" alt="costume Africain">
        </a>
      </article>
      <article>
       <a href="{{ path('app_products_index') }}">
          <img src="{{ asset('uploads/products/chaussure-4-684ec9e4afd6f.png') }}" alt="chaussure">
        </a>
      </article>
    </section>
  </div>

  <section class="third">
    <p>
      Bienvenue sur <strong>African Style</strong>, la plateforme e-commerce qui célèbre la richesse
      et l'élégance de la mode africaine. Nous regroupons les produits artisanats dans la vente de
      costumes et chaussures africaines, alliant tradition, modernité et artisanat de qualité.
    </p>
    <ul>
      <li><strong>Des costumes africains raffinés :</strong> Pour une cérémonie, un événement spécial ou un style quotidien.</li>
      <li><strong>Des chaussures uniques :</strong> Fabriquées avec soin, mêlant matériaux de qualité et design authentique.</li>
    </ul>
  </section>
</main>
<footer>
{{include('partials/footer.html.twig')}}
</footer>


{% endblock %}
